amqp==5.0.2
appdirs==1.4.4
asgiref==3.3.1
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
beautifulsoup4==4.4.1
billiard==3.6.3.0
blinker==1.3
bson==0.5.10
celery==5.0.5
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
constantly==15.1.0
cryptography==3.2.1
distlib==0.3.1
Django==3.1.5
docutils==0.16
enum34==1.1.10
feedparser==5.1.3
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
html5lib==0.999
httplib2==0.9.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.2
kiteconnect==3.9.0
kombu==5.0.2
lockfile==0.12.2
lxml==3.5.0
MarkupSafe==1.1.1
oauthlib==1.0.3
pgi==0.0.11.2
powerline-status==2.3
prompt-toolkit==3.0.9
psutil==3.4.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycups==1.9.73
pycurl==7.43.0
pyee==8.1.0
pygobject==3.20.0
PyHamcrest==2.0.2
PyJWT==1.3.0
PyMySQL==0.10.1
pyOpenSSL==20.0.0
pyppeteer @ git+https://github.com/pyppeteer/pyppeteer@f89052763de15c029ab647b150856c3ea80f45dc
python-apt==1.1.0b1+ubuntu0.16.4.11
python-daemon==2.2.4
python-dateutil==2.8.1
python-debian==0.1.27
pytz==2020.5
redis==3.5.3
requests==2.25.0
rq==1.7.0
service-identity==18.1.0
six==1.15.0
spark-parser==1.8.9
sqlparse==0.4.1
system-service==0.3
tqdm==4.58.0
Twisted==20.3.0
txaio==20.4.1
unattended-upgrades==0.1
uncompyle6==3.7.4
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-gdrive==0.7
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.26.2
vine==5.0.0
virtualenv==20.2.2
wcwidth==0.2.5
websockets==8.1
Werkzeug==1.0.1
xdis==5.0.7
zope.interface==5.2.0
